.head-view-admin{
    /* padding: inherit; */
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 54.18%, rgba(9, 9, 9, 0.663) 100%), url(../../img/imh1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -170px;
    position: relative;
    width: 100%;
    font-family: var(--font-secondary), sans-serif;
    height: 600px;
    display: flex;
    gap: 30%;
    align-items: center;
    min-width: 200px;
    padding: 15vh 0 5vh 0;
}

.iconstore{
    background-color: #fff;
    margin: 10px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.div-image-p-admin {
    border-radius: 50%;
    background: linear-gradient(#fff 40%, #000 100%);
    width: 210px;
    height: 210px;
    margin-left: 300px;
    position: absolute;
}

.div-image-p-admin img{
    height: max-content;
    /* padding-top: 25px; */
    margin: auto;
    width: 65%;
}

.icons__modif{
    position: absolute;
    right: 5%;
    bottom: 7%;
}

.iconsp__modif{
    position: absolute;
    right: 22%;
    bottom: 3%;
}
@media (max-width: 500px){
    .div-image-p-admin {
        margin-left: 150px;
    }
}