.nice-dates-popover {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.12);
    margin: 8px 0;
    max-width: 600px;
    position: absolute;
    transform-origin: top;
    transform: perspective(1000px);
    transition-property: transform, opacity;
    transition-duration: 400ms;
    transition-timing-function: cubic-bezier(0.4, 0.2, 0, 1.1);
    width: 100%;
    will-change: transform, opacity;
    z-index: 9;
    top: -65px;
}
.nice-dates-day:before {
    background-color: #438cd2;
    z-index: 1;
}
.nice-dates-day:after {
    border: 2px solid #438cd2;
    transform: scale(0.95);
    transition-duration: 150ms;
    transition-property: transform, opacity;
    z-index: 2;
}