.trash {
  color: #f57575;
  width: 18px;
  height: 18px;
  margin-right: 15px;
  cursor: pointer;
}
.pen {
  color: #078ee7;
  width: 18px;
  height: 18px;
  cursor: pointer;
}
.imgs {
  width: 36px;
  height: 36px;
  flex-shrink: 0;
  border-radius: 36px;
  background: lightgray 50% / contain no-repeat;
}
