.PhoneInput {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 15px !important;
}
.PhoneInputCountry {
  position: relative;
  align-self: center !important;
  display: flex;
  justify-content: center !important;
  align-items: center;
  padding: 15px !important;
  width: 30% !important;
  background: #031322 !important;
  border-radius: 4px !important;
  margin-top: -15px !important;
  height: -1% !important;
  margin-right: unset !important;
}
.PhoneInputCountrySelect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  border: 1px solid #506273 !important;
  opacity: 0;
  color: #506273 !important;
  transform: matrix(1, 0, 0, -1, 0, 0) !important;
  cursor: pointer;
}

.PhoneInputInput {
  flex: unset !important;
  min-width: unset !important;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 15px;
  border: 1px solid rgb(80, 98, 115)!important;
  border-radius: 5px;
  width: 120%;
  padding: 13px;
  color: #b3c6d8;
  font-weight: 400;
  font-family: "Poppins";
  font-size: 14px;
  line-height: 20px;
}
.PhoneInputCountryIcon {
    color: white;
}
.PhoneInputCountrySelectArrow {
    color: white;
}

.input__style input {
  height: 100%;
  width: 100%;
  border: none;
  padding: 10px;
  outline: none;
}

.input__style input:focus-visible {
  border: none;
}

.input__style button {
  position: absolute;
  height: 100%;
  width: 50px;
  right: 0;
  background: transparent;
  border: none;
}

@keyframes shakeInput {
  0% {
    transform: translateX(6px);
  }
  25% {
    transform: translateX(-4.5px);
  }
  50% {
    transform: translateX(3.5px);
  }
  75% {
    transform: translateX(-2px);
  }
  100% {
    transform: translateX(0);
  }
}