:root {
}

.first_block {
  background-color: #03101d;
  border-radius: 10px;
  position: relative;
  width: 43%;
  left: 15px;
  margin-top: -16%;

}
.first_block p {
  font-family: "Outfit";
  font-weight: 400;
  font-size: 12px;
  color: #f1fcff;
  display: flex;
  align-items: flex-end;
  margin-left: 15px;
  padding-top: 25px;
  margin-top: 15px;
}
.first_block .first__title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: bold;
  font-size: 37px;
  color: #f1fcff;
  display: flex;
  text-align: start;
  align-items: start;
  margin-left: 15px;
}

.first_block .description {
  font-family: "Outfit";
  font-weight: 400;
  font-size: 15px;
  padding-top: 5px;
  padding-right: 15px;
  text-align: justify;
  color: #f1fcff;
  line-height: 20px;
  display: flex;
  align-items: flex-end;
  margin-left: 15px;
}

.first_block .flex__element {
  display: flex;
  align-items: center;
  justify-content: center;
}
.first_block .add {
  font-weight: 700;
  color: rgb(80, 98, 115);
  padding: 15px;
}
.btn__style {
  border: 1px solid transparent;
  background-color: #f6fff8;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 60px;
  top: 45%;
  margin-bottom: 9%;
  margin-left: 15%;
  gap: 10px;
  border-radius: 10px;
  color: #506273;
}

.btn__style a {
  text-decoration: none;
  font-weight: 700;
  font-family: "Outfit";
  color: #506273;
}
.svg__layout {
  position: absolute;
  right: 0;
  left: 84.4%;
  top: 66.87%;
}

.swiper-element {
  position: relative;
  border: 1px solid transparent;
  background-color: #506273;
  width: 61vh;
  height: 30vh;
  padding: 20px;
  margin-left: -40%;
  margin-bottom: 10%;
  border-radius: 10px;
}
.text__swiper {
  text-align: justify;
  text-indent: 0.5cm;
  font-family: "Poppins";
  font-weight: 300;
  line-height: 20px;
  font-size: 13px;
  padding: 2px 20px 0px 1px;
  color: #f1fcff;
}
.profile__style {
  margin-top: 25px;
  display: flex;
  justify-content: flex-end;
  align-items: end;
}
.block__position {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  gap: 15px;
}
.text__description_swiper {
  margin-top: 24px;
  font-family: "Poppins";
  font-size: 11px;
  font-weight: 400;
  color: #f1fcff;
}
.text__description_swiper h3 {
  font-size: 11px;
  font-weight: 200;
}

.container__swipper {
  max-width: 1180px;
  padding-left: 22px;
  padding-right: 22px;
  /* overflow: hidden; */
  margin: auto;
  width: 100%;
  height: 100%;
}

.swiper {
  overflow: hidden;
  top: -20px;
}

.swiper-wrapper {
  gap: 255px;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 10px !important;
  top: var(--swiper-pagination-top, auto);
  left: 0;
  width: 100%;
}

.swiper-pagination-bullets-dynamic {
  overflow: hidden;
  font-size: 0;
}
.swiper-pagination {
  position: relative !important;
  text-align: center;
  transition: 0.3s opacity;
  transform: translate3d(0, 0, 0);
  z-index: 30;
}

.swiper-pagination-bullet {
  width: var(
    --swiper-pagination-bullet-width,
    var(--swiper-pagination-bullet-size, 8px)
  );
  height: var(
    --swiper-pagination-bullet-height,
    var(--swiper-pagination-bullet-size, 8px)
  );
  display: inline-block;
  border-radius: 50%;
  background: #779bbb !important;
  opacity: #f1fcff;
}

.swiper-pagination-bullet-inactive {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: #f1fcff !important;
}

.second_bloc {
  position: absolute !important;
  top: 20%;
  right: 14%;
  background: rgba(241, 252, 255, 0.5);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  position: relative;
  width: 25%;
  height: 50%;
  /* z-index: 100; */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.second_bloc .container__load {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100px;
  position: relative;
  width: 250px;
}
.second_bloc .load__img_style {
  /* z-index: 500; */
  cursor: pointer;
}
.second_bloc .recommandation_img {
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 400;
  color: #b3c6d8;
  width: 150px;
  text-align: center;
  margin-top: 10px;
  /* cursor: pointer; */
}
.hide_input {
  /* display: in; */
  /* visibility: hidden; */
  height: 58px;
  width: 58px;
  position: absolute;
  top: 100px;
  cursor: pointer;
  opacity: 0;
}
.second_blog {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 1px;
  right: 0px;
  z-index: 100;

}

.img__url {
  border-radius: 50%;
  width: 26%;
  height: 51%;
  overflow: hidden;
  position: absolute;
  top: 125px;
  z-index: 35;
  right: 190px;
}
.__title {
  position: absolute !important;
  top: 3%;
  right: 13.2%;
  text-align: center;
  font-weight: 700;
  font-family: "Poppins";
  font-size: 27px;
  margin-top: 10px;
  padding: 15px;
  margin-bottom: 15px;
}

.header_block {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}
.second_bloc .unclikable_ {
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 15px;
  color: #031322;
  background: #ffc700;
  padding: 12px;
  border-radius: 5px;
  width: 60%;
}

.second_bloc .etse_logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  background: #b3c6d8;
  width: 12%;
  height: 12%;
  padding: 12px;
  right: -53px;
  border-radius: 5px;
}
.second_bloc .select_domain {
  margin: auto;
  justify-content: center;
  margin-bottom: 15px;
  border: 3px solid transparent;
  border-radius: 5px;
  width: 75%;
  padding: 15px;
  background: #031322;
  color: #b3c6d8;
  font-weight: 400;
  font-family: "Poppins";
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: flex-end;
}
.second_bloc .input__style {
  margin: auto;
  justify-content: center;
  margin-bottom: 15px;
  border: 3px solid rgba(241, 252, 255, 0.5);
  border-radius: 5px;
  width: 75%;
  padding: 15px;
  color: #b3c6d8;
  font-weight: 400;
  font-family: "Poppins";
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: flex-end;
}
.second_bloc .forgot__pass_style {
  display: flex;
  justify-content: end;
  align-items: flex-end;
  padding-right: 50px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 14px;
  line-height: 10px;
  color: #506273;
  margin-bottom: 20px;
}
.btn__submit {
  position: absolute;
  top: 80%;
  right: 11.3%;
  outline: unset;
  margin: auto;
  display: block;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  border: none;
  background-color: #ebf5ff;
  color: #b6ccd1;
  border-radius: 5px;
  padding: 20px;
  width: 30%;
  text-align: center;
  z-index: 50;
  font-weight: 700;
  cursor: pointer;
}
.btn__submit button {
  color: #b6ccd1;
  font-family: "Poppins";
  /* font-weight: 900; */
  background-color: #ebf5ff;
  border: none;
  cursor: pointer;
}
button:focus {
  outline: unset;
}
.hide_input2 {
  height: 58px;
  width: 30%;
  position: absolute;
  top: 83%;
  right: 6%;
  margin-bottom: 13px;
  cursor: pointer;
  z-index: 50;
  opacity: 0;
}

.input__style__succes {
  border: 1px solid transparent;
  background-color: #b2fcc5;
  color: #fff;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 15px;
  position: absolute;
  top: 5px;
  left: 2px;
  padding: 10px;
  z-index: 15;
  border-radius: 5px;
  transition: opacity 8s;
  /* opacity: 1; */
  animation: error_field_animation 8s;
}

@keyframes error_field_animation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
